/* styles.css */
body {
  font-family: 'JetBrains Mono', sans-serif; /* 使用你喜欢的字体 */
}

/* 可以根据需要添加更多样式 */
h1,
h2,
h3 {
  font-family: 'Cormorant Garamond', serif; /* 为标题指定不同的字体 */
}

code {
  font-family: 'Consolas', monospace; /* 为代码块指定字体 */
}
